In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('Shopping Demo.csv')

In [3]:
df

        Day Discount Free Delivery Purchase
0   Weekday      Yes           Yes      Yes
1   Weekday      Yes           Yes      Yes
2   Weekday       No            No       No
3   Holiday      Yes           Yes      Yes
4   Weekend      Yes           Yes      Yes
5   Holiday       No            No       No
6   Weekend      Yes            No      Yes
7   Weekday      Yes           Yes      Yes
8   Weekend      Yes           Yes      Yes
9   Holiday      Yes           Yes      Yes
10  Holiday       No           Yes      Yes
11  Holiday       No            No       No
12  Weekend      Yes           Yes      Yes
13  Holiday      Yes           Yes      Yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 4 columns):
Day              14 non-null object
Discount         14 non-null object
Free Delivery    14 non-null object
Purchase         14 non-null object
dtypes: object(4)
memory usage: 528.0+ bytes

In [6]:
df.describe()

            Day Discount Free Delivery Purchase
count        14       14            14       14
unique        3        2             2        2
top     Holiday      Yes           Yes      Yes
freq          6       10            10       11

In [13]:
purchased_day = pd.crosstab(index=df['Day'],columns=df['Purchase'])
purchased_day

Purchase  No  Yes
Day
Holiday    2    4
Weekday    1    3
Weekend    0    4

In [15]:
purchased_Discount = pd.crosstab(index=df['Discount'],columns=df['Purchase'])
purchased_Discount

Purchase  No  Yes
Discount
No         3    1
Yes        0   10

In [16]:
purchased_FD = pd.crosstab(index=df['Free Delivery'],columns=df['Purchase'])
purchased_FD

Purchase       No  Yes
Free Delivery
No              3    1
Yes             0   10